<div class="container">
    <div class="d-flex justify-content-center align-items-center" id="card-container">
        <div class="card" id="card-child">
            <article class="card-body">
                <p class="text-success text-strong text-center">Tickets Application</p>
                <header>
                    <a href="" class="float-right btn btn-outline-primary mt-1" routerLink="/auth/register">
                        Registrarse
                    </a>
                    <h4 class="card-title mt-2">Inicio de sesión</h4>
                </header>
                <hr>
                <form>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                            </div>
                            <input name="" class="form-control" placeholder="Email" type="email">
                        </div> <!-- input-group.// -->
                    </div> <!-- form-group// -->
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                            </div>
                            <input class="form-control" placeholder="******" type="password">
                        </div> <!-- input-group.// -->
                    </div> <!-- form-group// -->
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-block"> Iniciar sesión </button>
                    </div> <!-- form-group// -->
                    <!-- <p class="text-center"><a href="#" class="btn">Forgot password?</a></p> -->
                </form>
            </article>
        </div>
    </div>
</div>